.button {
	border-radius: 4px;
	padding: 8px;
	background:  #4a90e2;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 12px;
	font-size: 12px;
	border: none;
	appearance: none;
	cursor: pointer;

}
.button__grey {
	background: #CCC;
	color: #354354;
}