.button {
	border-radius: 4px;
	padding: 8px;
	background: #4a90e2;
	color: #fff; 
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: 1em;
	cursor: pointer;
	border: none;
	appearance: none;
}

.button__grey {
	background: #ccc;
	color: #354354;
}