.select {
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	font-family: "Avenir";
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 200px;
}

option {
	font-family: "Avenir";
}

option:first-child {
	font-style: italic;
}