@font-face {  
  font-family: "Avenir";  
  src: url("./fonts/Avenir-Medium.woff") format("woff");  
  font-style: normal; 
  font-weight: 400; 
}

@font-face {  
  font-family: "Avenir";  
  src: url("./fonts/avenir-light.woff") format("woff");  
  font-style: normal; 
  font-weight: 300; 
}

@font-face {  
  font-family: "Avenir";  
  src: url("./fonts/Avenir-Heavy.woff") format("woff");  
  font-style: normal; 
  font-weight: 900; 
}

@font-face {  
  font-family: "Avenir";  
  src: url("./fonts/Avenir-Black.woff") format("woff");  
  font-style: normal; 
  font-weight: 700; 
}

body {
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}